name: Build

concurrency:
  group: "build"
  cancel-in-progress: true

permissions:
  contents: write

on:
  push:
    branches:
      - master
      - main
    paths-ignore:
      - '*.md'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v4
        with:
          path: "src"
          fetch-depth: 0

      - name: Checkout or Create Builds Branch
        uses: actions/checkout@v4
        with:
          ref: "builds"
          path: "builds"
        continue-on-error: true

      - name: Setup JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 17
          cache: 'gradle'

      - name: Build Plugins
        run: |
          cd $GITHUB_WORKSPACE/src
          chmod +x gradlew
          ./gradlew make makePluginsJson
          # Limpiamos carpeta destino y copiamos nuevos archivos
          rm -rf $GITHUB_WORKSPACE/builds/*.cs3
          cp **/build/*.cs3 $GITHUB_WORKSPACE/builds/ || echo "No .cs3 files found"
          cp build/plugins.json $GITHUB_WORKSPACE/builds/

      - name: Commit and Push builds
        run: |
          cd $GITHUB_WORKSPACE/builds
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Actions"
          git add .
          # Solo hace commit si hay cambios para evitar errores
          git diff --quiet && git diff --staged --quiet || (git commit -m "Build $GITHUB_SHA" && git push origin builds)