name: Build

concurrency:
  group: "build"
  cancel-in-progress: true

permissions:
  contents: write

on:
  push:
    branches:
      - master
      - main
    paths-ignore:
      - '*.md'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v4
        with:
          path: "src"

      - name: Checkout or Create Builds Branch
        uses: actions/checkout@v4
        with:
          ref: "builds"
          path: "builds"

      - name: Clean old builds
        run: rm -f $GITHUB_WORKSPACE/builds/*.cs3

      - name: Setup JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 17
          cache: 'gradle'

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Create local.properties
        run: |
          cd $GITHUB_WORKSPACE/src
          echo "WASMAPI=${{ secrets.WASMAPI_KEY }}" > local.properties

      - name: Build Plugins
        run: |
          cd $GITHUB_WORKSPACE/src
          chmod +x gradlew
          # Compilamos los .cs3
          ./gradlew make
          # Copiamos los archivos .cs3 a la carpeta de builds
          cp **/build/*.cs3 $GITHUB_WORKSPACE/builds/ || echo "No cs3 found"

      - name: Restore My Custom JSON
        run: |
          # 1. Forzamos la copia de TU plugins.json (desde src) a la carpeta de salida (builds)
          # Esto borrará el que Gradle generó automáticamente.
          if [ -f "$GITHUB_WORKSPACE/src/plugins.json" ]; then
            cp -f "$GITHUB_WORKSPACE/src/plugins.json" "$GITHUB_WORKSPACE/builds/plugins.json"
            echo "¡Éxito! Tu plugins.json personalizado ha sido restaurado."
          else
            echo "ERROR: No se encontró 'src/plugins.json'. Revisa si está en la carpeta correcta."
            exit 1
          fi

      - name: Commit and Push builds
        run: |
          cd $GITHUB_WORKSPACE/builds
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Actions"
          # Forzamos que añada el archivo por si Git piensa que no cambió
          git add -f plugins.json
          git add *.cs3
          git commit -m "Build con JSON personalizado forzado" || true 
          git push --set-upstream origin builds